*
    {
        box-sizing: border-box;
    }

#banner
    {
        width: 100%;
        height:auto;
        object-fit: cover;
    }


a:link
    {
        color:#c4d7b2;
    }

a:visited
    {
        color:#c4d7b2;
    }


a:hover
    {
        color: #283A03;
    }

nav
    {
        width:auto;
        height: 50px;
        font-size: xx-large;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color: #3b5704;
        color: #c4d7b2;
        margin-bottom: 100px;
    }

body
    {
        width:100%;
        background-color: #3b5704;
        font-size:x-large;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        color: #c4d7b2;
    }

 h1
    {
        width:60%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin-left: 175px;
    }
h3
    {
        width:60%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin-left: 175px;
    }


p.top
    {
        width: 80%;
        text-align:left;
        margin-left: 175px;
        margin-right: 175px;
        margin-bottom: 50px;
    }

p.body
    {
        width: 60%;
        text-align: left;
        margin-top:50px;
        margin-left: 175px;
        margin-bottom: 100px;
        display: inline-block;
    }

p.body2
    {
        width: 60%;
        text-align: left;
        margin-top:50px;
        margin-left: 175px;
        margin-right: 175px;
        margin-bottom: 100px;
    }

p.review
    {
        width: 60%;
        text-align: left;
        font-style:italic;
        margin-top: 0%;
        margin-left:550px;
        margin-right: 175px;
        display: inline-block;
    }

p.review2
    {
        width: 60%;
        text-align: left;
        font-style: italic;
        margin-left:175px;
        margin-right: 175px;
        margin-bottom:100px;
    }

table 
    {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: 175px;
        margin-right: 175px;
        margin-bottom: 75px;
    }

td, th 
    {
        border: 5px solid #c4d7b2;
        text-align: center;
        padding: 20px;
    }

img.right
    {
        height: 200px;
        width: 200px;
        float:right;
        margin-top: 50px;
        margin-right: 175px;
        margin-bottom: 100px;
    }

img.left
    {
        height: 200px;
        width: 200px;
        float: left;
        margin-top: 50px;
        margin-left: 175px;
        margin-bottom:50px;
    }

img.center
    {
        height: 500px;
        width: 80%;
        float: center;
        margin-top: 0px;
        margin-left: 175px;
        margin-right: 175px;
        margin-bottom: 50px;
    }

footer
    {
        width: 100%;
        position: relative;
        text-align: center;
        padding: 3px;
        background-color: #283A03;
        color: #c4d7b2;
        display:inline-block
    }
